.skip-link {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}

.skip-link:focus,
.skip-link:active {
  color: black;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}

.logo-bar {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.logo-bar .barrierelos-logo {
  width: 250px;
}

.header-actions {
  display: inline-flex;
  justify-content: right;
  align-items: center;
  align-self: stretch;
}

.header-actions .language-selection {
  float: right;
}

.header-actions .langBtn:disabled {
  color: lightgrey;
  text-decoration: none;
}

nav {
  background-color: #333333;
}

nav .hamburger-btn {
  display: none;
  height: 52px;
  width: 52px;
}

nav .hamburger-btn.Mui-focusVisible {
  border: #c7e1f3 inset;
  border-radius: 2px;
  outline-offset: 1px;
  margin-block: 2px;
}

nav .hamburger-btn svg {
  font-size: 32px;
}

nav a, nav a:visited, nav a:active, nav a:focus, nav a:hover {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  nav .hamburger-btn {
    display: inline-flex;
  }

  nav a {
    display: none;
  }

  nav.expanded > a {
    display: block;
  }

  nav.expanded .hamburger-btn {
    width: 100%;
  }

  nav:not(.expanded) > a.active {
    display: inline-block;
  }
}

nav a:focus {
  border: #c7e1f3 inset;
}

nav a:hover {
  background-color: #111111;
}

nav a.active {
  background-color: #006064;
}

nav a.active:hover {
  background-color: #004346;
}
